<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About me</title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="theme-switch-wrapper">
        <span id="toggle-icon">
            <span class="toggle-text">Light Mode</span>
            <i class="fas fa-sun"></i>
        </span>
        <label class="theme-switch">
            <input type="checkbox">
            <div class="slider round"></div>
        </label>
    </div>

    <nav id="nav">
      <a href="#home">HOME</a>
      <a href="#about">ABOUT</a>
      <a href="#projects">PROJECTS</a>
      <a href="#contact">CONTACT</a>
    </nav>
    <sction id="home">
      <div class="title-group">
        <h1>
          My Name is Nedžib
          <h2>Welcome to my Website</h2>
        </h1>
        <p style="font-size: 20px" id="intro"></p>
      </div>
    </sction>
    <section id="about">
      <h1>ABOUT</h1>
      <div class="about-container">
        <div class="image-container">
          <h2>Who am I?</h2>
          <img
            src="img/undraw_feeling_proud_dark.svg"
            alt="Coder"
            id="image1"
          />
          <div style="overflow-wrap: break-word; width: 100%">
            <p id="about-me" style="font-size: larger"></p>
          </div>
        </div>
        <div class="image-container">
          <h2>What is my expertise?</h2>
          <img src="img/undraw_programmer_light.svg" alt="Coder" id="image2" />
          <div style="overflow-wrap: break-word; width: 100%">
            <p id="expertise" style="font-size: larger"></p>
          </div>
        </div>
        <div class="image-container">
          <h2>What do I love?</h2>
          <img src="img/undraw_having_fun_light.svg" alt="Coder" id="image3" />
          <div style="overflow-wrap: break-word; width: 100%">
            <p id="what-i-love" style="font-size: larger"></p>
          </div>
        </div>
      </div>
    </section>
    <section id="projects">
      <h1>PROJECTS</h1>
        <div class="buttons">
            <button class="primary" id="dashboard" onclick="buttonClick(this.id)">
                Dashboard
            </button>
            <button class="secondary" id="libary" onclick="buttonClick(this.id)">
                Libary
            </button>
            <button class="primary" id="tellYourStory" onclick="buttonClick(this.id)">
                Tell your story
            </button>

             <button class="outline" id="spaceTravel" onclick="buttonClick(this.id)">
                Space Travel
            </button>

             <button class="secondary" id="quoteGenerator" onclick="buttonClick(this.id)">
                Quote Generator
            </button>
             <button class="outline" id="quiz" onclick="buttonClick(this.id)">
                Quiz
            </button>
        </div>
        <div class="text-box" id="text-box">
            <p id="project-description" style="color: white;"></p>
        </div>
    </div>
    </section>
    <section id="contact">
        <h2>For more information contact me on LinkedIn</h2>
        <div class="social-icons">
            <i class="fab fa-github"  >  </i>     
            <i class="fab fa-linkedin-in"></i>
           </div>
    </section>

    <script src="script.js"></script>
  </body>
</html>
